// Para compilar: sass scss/styles.scss main.css

@import "variables";
@import "mixins";
@import "animations";
@import "utilities";
@import "layout";
@import "components";
@import "pages";
@import "bootstrap-override";
